.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem !important;
}

.nav li {
  margin: 0;
  margin-left: 2rem;
}

.nav a {
  text-decoration: solid;
  color: black;
}

.nav a:hover {
  color: #0069d9 !important;
}

.nav a:active,
.nav a.active {
  color: #0069d9 !important;
  font-weight: bolder;
  font-size: x-large;
}

.hr {
  margin-top: 2rem !important;
  display: block;
  width: 80%;
}
